.btn-facebook, .btn-google, .btn-twitter {

    width: 32%;
}
.btn-facebook{

    background: #3b5998;
    color: #ffffff;
}

.btn-google{

    background: #dd4b39;
    color: #fff;
}

.btn-twitter{
    background: #5acee5;
    color: #fff;

}